.container .downBtn {
    position: absolute;
    cursor: pointer;
    top: 9rem;
    left: 10%;
    width: 80%;
    height: 1.5rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: .6s linear infinite rotate
}